body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
a {
  display: block;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
