@import "../helpers/mixin";

.side {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 9999;
  transform: translateX(-101%);
  transition: transform 0.4s;
  min-width: 360px;
  max-width: 400px;
  &-member {
    // min-width: 300px;
    overflow: visible;
    position: fixed;
    height: 100vh;
    box-shadow: none;
    transform: translateX(-101%);
    @include desktop {
      position: sticky;
      transform: translateX(0%);
      box-shadow: 5px 0 10px rgba($color: #eee, $alpha: 0.5);
    }
  }
  @include desktop {
    // overflow-y: scroll;
    // position: sticky;
    // height: 100vh;
    // transform: translateX(0%);
  }
  // &-area {
  //   position: fixed;
  //   height: 100%;
  // }
  &-area {
    position: relative;
  }
}
// 客製化卷軸
#sideBar {
  //捲軸底色
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ddd;
  }
  //捲軸寬度
  &::-webkit-scrollbar {
    width: 6px;
    background-color: black;
  }
  //捲軸本體顏色
  &::-webkit-scrollbar-thumb {
    background-color: gray;
  }
}
.side-nav {
  position: relative;
  max-width: 400px;
  // height: 100%;
}
.nav-icon {
  display: none;
  position: absolute;
  // right: -34px;
  top: 50%;
  line-height: 0;
  padding: 10px 5px;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba($color: #fbaa57, $alpha: 1);
  z-index: 1000;
  &-out {
    display: block;
    position: fixed;
  }
  &-member,
  &-admin {
    display: block;
    top: 50%;
    right: -34px;
    color: #fff !important;
    background-color: rgba($color: #495057, $alpha: 0.8);
    @include desktop {
      display: none;
    }
  }
  &-admin {
    @include desktop {
      display: none !important;
    }
  }
  &:hover {
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.3s;
  }
}

.arrow-icon {
  display: inline;
  padding: 10px 5px;
  border-radius: 10px 0px 0px 10px;
}

#checkShow:checked + .side,
#checkShow:checked + .side-admin {
  transform: translateX(0);
}
#checkShow:checked + .side .nav-icon,
#checkShow:checked + .side-admin .nav-icon {
  display: block;
  right: 0px;
  border-radius: 10px 0 0 10px;
}

#checkShow:checked + .nav-icon,
#checkShow:checked + .side-admin .nav-icon {
  right: 0px;
  border-radius: 10px 0 0 10px;
}

#checkShow:checked + .side .material-icons,
#checkShow:checked + .side-admin .material-icons {
  transform: scaleX(-1);
}

.admin-side-menu-link {
  color: #000;
  transition: 0.3s;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid transparent;
    width: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &:hover {
    color: #000;
  }
  &:hover::after {
    border-bottom: 2px solid #000002;
    width: 100%;
    transition: all 0.4s;
  }
}

// 標籤樣式
.tagLabel {
  padding: 0;
  // margin-right: 8px;
  cursor: pointer;
}
.tagInput[type="checkbox"] {
  display: none;
}
.tagInput[type="checkbox"] + span {
  display: inline-block;
  background-color: transparent;
  padding: 4px 8px;
  border: 1px solid #1c6e8c;
  color: #1c6e8c;
  user-select: none; /* 防止文字被滑鼠選取反白 */
  border-radius: 10px;
}

.tagInput[type="checkbox"]:checked + span {
  color: #fff;
  background-color: #1c6e8c;
}
